! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------
Xcursor-theme: Vanilla-DMZ
XTerm*faceName: xft:Roboto Mono:size=18, \
                xft:Noto Color Emoji:size=18, \
                xft:Font Awesome 5 Free:size=18, \
                xft:Monospace:style:size=18
UXTerm*faceName:xft:Roboto Mono:size=18, \
                xft:Noto Color Emoji:size=18, \
                xft:Font Awesome 5 Free:size=18, \
                xft:Monospace:size=18
Sxiv.font: Inter:size=20
Dmenu.font: Inter:size=20
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #767676

! red
*.color1:       #cc0403
*.color9:       #f2201f

! green
*.color2:       #19cb00
*.color10:      #23fd00

! yellow
*.color3:       #cecb00
*.color11:      #fffd00

! blue
*.color4:       #0d73cc
*.color12:      #1a8fff

! magenta
*.color5:       #cb1ed1
*.color13:      #fd28ff

! cyan
*.color6:       #0dcdcd
*.color14:      #14ffff

! white
*.color7:       #dddddd
*.color15:      #ffffff

! hard contrast: *background: #1d2021
!*background: #282828
!! soft contrast: *background: #32302f
!*foreground: #ebdbb2
!! Black + DarkGrey
!*color0:  #282828
!*color8:  #928374
!! DarkRed + Red
!*color1:  #cc241d
!*color9:  #fb4934
!! DarkGreen + Green
!*color2:  #98971a
!*color10: #b8bb26
!! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #fabd2f
!! DarkBlue + Blue
!*color4:  #458588
!*color12: #83a598
!! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #d3869b
!! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #8ec07c
!! LightGrey + White
!*color7:  #a89984
!*color15: #ebdbb2
! special
