[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/andrew/Desktop/steam.desktop]
row=0
col=1

[/home/andrew/Desktop/document 9cpyyy.docx]
row=8
col=0

[/home/andrew/Desktop/document 9cpy.docx]
row=7
col=0

[/home/andrew/Desktop/test]
row=1
col=1

[6DABE749249C303B]
row=2
col=0

[6119-3B54]
row=1
col=0

[SAMSUNG Android]
row=2
col=1

[VFD 200]
row=0
col=0

[8C941A31941A1E70]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=5
col=0

[/home/andrew]
row=6
col=0

